#html {
    height: 100%;
    font-family: 'Roboto', sans-serif
}

#body {
    height: inherit;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    text-align: center;
}

#exercise-form {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding-left: 3%;
    padding-right: 3%;
}

h4 {
    text-align: center;
}

.labels {
    margin-top: 2vh;
}

.inputs {
    margin-top: 2vh;
}

.submit {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#exercise-description {
}