<!DOCTYPE html>
<html id="html" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="styles/styleResponse.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
</head>

<body id="body">
  <main id="main">
    <div>
      <h1 id="heading">Server Response</h1>
      <p id="date">Date: <span id="date-data"><%= date %></span></p>
      <p id="time">Time: <span id="time-data"><%= time %></span></p>
      <a href="../index">Index Page</a>
    </div>
  </main>
  <script src="script.js"></script>
</body>

</html>