#html {
    height: 100%;
    font-family: 'Roboto', sans-serif
}

#body {
    height: inherit;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    text-align: center;
    color: red;
}